aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor==3.0.0
pillow==9.5.0
future==0.18.3
psutil
search_engine_parser
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml==5.3.1
pykeyboard
requests
speedtest-cli
spotipy
lexica-api==1.5.1
httpx==0.25.2
gpytranslate
openai==0.28.0
pickledb
python-telegram-bot==20.7
tgcrypto
wget
telegraph
unidecode
img2pdf
cloudscraper
yt-dlp
youtube-search
youtube-search-python
gtts
git+https://github.com/AsmSafone/SafoneAPI
lyricsgenius
